files:      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
        -----BEGIN CERTIFICATE-----

        MIIEDzCCAvcCFEkP+bDA+Yfr4/I/rnR60mRr/mbrMA0GCSqGSIb3DQEBCwUAMIHD
        MQswCQYDVQQGEwJJTjEPMA0GA1UECAwGUFVOSkFCMREwDwYDVQQHDAhBTVJJVFNB
        UjEZMBcGA1UECgwQTUVTU0FHRSBBTlkgVElNRTFHMEUGA1UEAww+bWVzc2FnZWFu
        eXRpbWUtZW52LmViYS1jOWI4cHY1bS51cy1lYXN0LTIuZWxhc3RpY2JlYW5zdGFs
        ay5jb20xLDAqBgkqhkiG9w0BCQEWHWJhY2tlbmQubmt0ZWNobmljYWxAZ21haWwu
        Y29tMB4XDTIyMDEwMzE4MDkxOFoXDTIzMDEwMzE4MDkxOFowgcMxCzAJBgNVBAYT
        AklOMQ8wDQYDVQQIDAZQVU5KQUIxETAPBgNVBAcMCEFNUklUU0FSMRkwFwYDVQQK
        DBBNRVNTQUdFIEFOWSBUSU1FMUcwRQYDVQQDDD5tZXNzYWdlYW55dGltZS1lbnYu
        ZWJhLWM5YjhwdjVtLnVzLWVhc3QtMi5lbGFzdGljYmVhbnN0YWxrLmNvbTEsMCoG
        CSqGSIb3DQEJARYdYmFja2VuZC5ua3RlY2huaWNhbEBnbWFpbC5jb20wggEiMA0G
        CSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCoBjj+c45Jfd7KkxbAXNq33QMQuL0N
        42olzPw6sg5FmjSR0qHbtHz6zybwjyhJDWLY+G2Zuq01rZVxU2CtwPkUPEp5FZyw
        XDuKvXnlE7VPu8Jf2cybe+hAkTT5YxD9fw7E3ZXo7LW7+COHwo8aEnikmqYtElIc
        mQnMcDIRFZDpFOuWCJq6Jn8BqZTQ5X3srhSr9c8JBUrfBlyyXUGdp55uDaX6Jsqu
        shDHxXwQ27qXLVUjrqn1vWHaum/eS908xFWhqkksLdenObzX+vaIzYSI6mNR6n4p
        uzE4Bsl8z03pRR3LDmtjTbEUa9WuJAVegfoXeW/1a5GtQchhcyR9MFdPAgMBAAEw
        DQYJKoZIhvcNAQELBQADggEBACcob5OGWdb3ociY5OXXKn75HDhQCXoSs1veNsT2
        GtfkrLiKbeLAXhPGANod3Un4YIGcv6/PJj/o+GM09mY2bczZuESJQBpzfEA90dsk
        DZLkLmmU30fyjtvIy70/H88BxMeEPfQ3FXW+l4aIrybxe1fh6s11MO1blTB0qATt
        iprSIWLAhXzF9rim93NOiHpmppyqNdqvyBdO+ouCZReUHMQoh0kJ2uK3h5M/x5tm
        tHcuZ0TaUlgnCMN5K0PLexVdityMmQJlDnOR1stfDfTjvLzrLxqgK/2ssdJmkfGQ
        vFlrKaDz69ctlXc18hmtqypMTyKDhrCFp53TyAQ4XG19KQw=


        -----END CERTIFICATE-----

      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
        -----BEGIN RSA PRIVATE KEY-----
        MIIEpAIBAAKCAQEAqAY4/nOOSX3eypMWwFzat90DELi9DeNqJcz8OrIORZo0kdKh
        27R8+s8m8I8oSQ1i2PhtmbqtNa2VcVNgrcD5FDxKeRWcsFw7ir155RO1T7vCX9nM
        m3voQJE0+WMQ/X8OxN2V6Oy1u/gjh8KPGhJ4pJqmLRJSHJkJzHAyERWQ6RTrlgia
        uiZ/AamU0OV97K4Uq/XPCQVK3wZcsl1Bnaeebg2l+ibKrrIQx8V8ENu6ly1VI66p
        9b1h2rpv3kvdPMRVoapJLC3Xpzm81/r2iM2EiOpjUep+KbsxOAbJfM9N6UUdyw5r
        Y02xFGvVriQFXoH6F3lv9WuRrUHIYXMkfTBXTwIDAQABAoIBAAniK9IT3AfIpqVF
        163DCH6OOpLuOvipKuJEV4XgWWSQuIznVewFhuB99O1rjlQVvH3ExzWmvG+O4V6E
        KAiwdDZTgZHzyn65PitgD96AtUaWZc2bkySGOlgp8nLE+AfhRG4iFqJX4izHYNeo
        gyBme8A69JFsJXZXLjNfWiKVISwEnZm1GXC0DwBGGb18mXATs3j0kuR4dGz1Ly2W
        3g+r3QlfpW2JCbWeIyMocUh39ynNqi+MpzfOD+sinjBM2lTHZSEis+uM/WhnEtap
        K2+1rWa5t90j6kUcT6RemBPZXB9OHttIOgp/BsoNllWxTxyn0be6ml/hoYymwVje
        Z9mbOTkCgYEA1e8RATVXgZBlZyzwmU0FebFsjSELrghHspHCXBlcTqcEN4IeAAzb
        dbA5Xzw9D5wny2SNH7RjetZRLAwjHaw+elsmsTuv0ud1NKK5E6k25i7JaNevSt/T
        YYSNU17NnmN0epqdJ2p8RS1A51qEvZ3mbDSAeIoxGtdinGYKEphDx6MCgYEAyRAt
        HTetNVXVV/gjcxa3tbJ7MHAnPchcPW8HbeGq9R2nKXWt3R3Dsi6eWGddA/tMdjVp
        vX3DYCGHQm6LpzewKf/NK0fB47f3UU6O2IWZVXn/ElO6ztATdROM0pfVudaM0yzI
        1dIZH1SD9RTkF1gFUPRqlRqcDeSpDMuuFfG8XGUCgYASE+uZ8In+dtc6yr9iFPIb
        gHSt0FcOU8DLRCnqYnI8azyd/C7QzkVVQpj2hT6brRRnyY1rWnD1llqxoCzvevik
        mkNAwsxuxARReFavZKMw/E8kvuUfLJ7OJMdUfjRd6AWVvq78/7CUn+hWJH4HD+rC
        xgT9KqBPple845qCS7+ehQKBgQCgpwE1IECQpjWiZY2Frvg5ARR3XpWsQwSYvbdU
        8ASWeAwSD4pNbDPqkl9JScXDoa61oPYNR4itrfyScxu5D8D9vfukgmCE4ICHgdqX
        XSBocOMDNM3F4/I4ENfriRBnveul7FnIp2gVZYVOdVPO5zDQP4tN+gYI/9SnebNu
        q0mTFQKBgQCIqLMI4dKx29G/tFrMzILXgwpmAy8np75GuOhq+otXdbIZJUgjX0q9
        OyAsbihIIeyCsx2tGyh9YmKn+d2esX70w5xDTc/oUBZrjpk+UAaDAzZRzoyOMm/E
        4BKLiIcoaDpC5SxlY/wLOosNeoOSxUc92D7pJBIAaydrRbyuWNHUqg==
        -----END RSA PRIVATE KEY-----