
.Resizer {
    border:1px solid rgba(34,34,34,0.2);
    height:100%;
    
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
  }
   
  .Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
  }
   

   
  .Resizer.vertical {

    margin: 0 -4px;
    cursor: ew-resize;
    border-left: 4px solid rgba(68, 68, 68, 0);
    border-right: 4px solid rgba(255, 255, 255, 0);
  }
   
  .Resizer.vertical:hover {
    border-left: 4px solid rgba(34,34,34, 0.2);
    border-right: 4px solid rgba(34,34,34, 0.2);
  }
  .Resizer.disabled {
    cursor: not-allowed;
  }
  .Resizer.disabled:hover {
    border-color: transparent;
  }